.myBg {
  background-color: #E5E5E5;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#first-row {
  margin-right: -15px;
  margin-left: -15px;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.bigImage {
  min-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-auto-columns: 200px;
  justify-items: center;
  align-items: center;
  padding: 0px 0px;
}

#ingredients {
  background-color: #FFE599;
  margin-right: -15px;
}

#hamburger {
  display: grid;
  grid-template-columns: auto 35px;
  font-size: 1.4em;
}

#hamburger_icon {
  width: 35px;
}

.price {
  color: #A44F46;
}

@media (min-width:769px) {
  #sidebarView {
    min-height: 100%;
  }

  #goBack {
    text-align: right;
  }

  #hamburger_icon {
    display: none;
  }

  #hamburger_content {
    display: block;
  }

  #totalPrice {
    display: none;
  }
}

@media (max-width:768px) {
  #amount {
    text-align: center;
  }

  #goBack {
    text-align: center;
  }
}
