.myBg {
  background-color: #E5E5E5;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.bigImage {
  min-width: 100%;
}

#ingredients {
  background-color: #FFE599;
}

#hamburger {
  display: grid;
  grid-template-columns: auto 35px;
  font-size: 1.4em;
}

#hamburger_icon {
  width: 35px;
}

.price {
  color: #A44F46;
}

@media (min-width:576px) {
  #goBack {
    text-align: right;
  }

  #hamburger_icon {
    display: none;
  }

  #hamburger_content {
    display: block;
  }

  #totalPrice {
    display: none;
  }
}

@media (max-width:575px) {
  #amount {
    text-align: center;
  }

  #goBack {
    text-align: center;
  }

  #hamburger_content {
    display: none;
  }

}
